<?xml version="0.0" ?>
<robot name="urdf_robot">
  <link name="base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.001"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1"/>
       <inertia ixx="0" ixy="-0.87" ixz="-0.49" iyx='0' iyy="-0.49" iyz="0.87" izx="1" izy="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="mug.obj" scale=".11 .11 .11"/>
      </geometry>
      <material name="blue">
        <color rgba="0.23 0.22, 0.96 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="mug.obj" scale=".11 .11 .11"/>      
      </geometry>
    </collision>
  </link>
</robot>

